*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* DA RIMUOVERE */
.my_bg{
    background-color: white;
    border: 1px solid black;
    height: 700px;
}

body{
    height: 100vh;
    background:linear-gradient(0deg, #DEDFDD 85%, #00A884 85%);
}

/* Sezione di sinistra (contatti, profilo ...)*/
.profile{
    background-color: #EAEAEA;
    padding: 10px;
}
.profile img{
    width: 60px;
    border-radius: 50%;
}
.notice{
    padding: 10px 20px;
    background-color: #8EDAFC;
    height: 80px;
}
.contacts{
    height: 550px;
    background-color: white;
    overflow-y: scroll;
}
.contact{
    padding: 10px 20px;
}
.contact img{
    width: 60px;
    border-radius: 50%;
}
.contact-name{
    margin: 0 10px;
    font-weight: 500;
}
.contact:hover{
    background-color: #EAEAEA;
}
