*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background:linear-gradient(0deg, #DEDFDD 90vh, #00A884 90vh);
}

/* Sezione di sinistra (contatti, profilo ...)*/
.interface{
    height: 800px;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
    padding: 10px;
}
.profile-img{
    display: flex;
    gap: 10px;
    align-items: center;
}
.profile-img img{
    width: 60px;
    border-radius: 50%;
}
.info{
    display: flex;
    flex-direction: column;
}
.last-access{
    color: grey;
}
.notice{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #8EDAFC;
    height: 80px;
}
.ring{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
}
.ring i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-notice{
    line-height: 0.4;
}
.search{
    height: 50px;
    padding: 5px;
    background-color: #fff;
}
.contacts{
    height: calc(100% - 210px);
    background-color: white;
    overflow-y: auto;
}
.contact{
    display: flex;
    gap: 10px;
    padding: 10px 20px;
}
.contact img{
    width: 60px;
    border-radius: 50%;
}
.contact-name{
    font-weight: 500;
}
.data-message{
    float: right;
}
.contact-text{
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contact:hover{
    background-color: #EAEAEA;
}

/* CHAT sulla destra */
.bg-chat{
    height: 800px;
    background-image: url(../img/mine.jpg);
}
.chat{
    display: flex;
    flex-direction: column;
    padding: 50px;
    overflow-y: auto;
    height: calc(100% - 130px);
}
.message{
    position: relative;
    display: flex;
    gap: 10px;
    margin: 2px 0;
    padding: 5px 10px;
    max-width: 400px;
    border-radius: 10px;
}
.message-my{
    align-self: flex-end;
    background-color: #fff;
}
.message-yours{
    align-self: flex-start;
    background-color: #D9FDD3;
}
.message-data{
    align-self: flex-end;
    font-size: 12px;
}
.my-dropdown{
    display: none;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}
.message:hover .my-dropdown{
    display: flex;
}
.my-dropdown-button{
    align-self: flex-end;
    border: none;
    font-size: 20px;
    color: grey;
    position: relative;
}
.list-drop{
    min-width: 140px;
    background-color: #fff;
    font-size: 16px;
    color: black;
    border-radius: 5px;
    padding: 5px 0;
    z-index: 999;
}
.list-drop li{
    padding: 5px 10px;
}
.list-drop li:hover{
    backdrop-filter: brightness(0.9);
}
.send-message{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #F0F2F5;
    height: 50px;
}
.icons i{
    margin: 0 10px;
    font-size: 25px;
    color: gray;
}
